.logo{
	margin-left: 24px;
	width: 50px;
	height: 50px;
}
.right{
	
	margin-right: 24px;
	float: right;
}
.cap{
	text-align: center;
	margin-left: 400px;
}
.caps{
	text-align: center;
}
.logos{
	margin-top: 14px;
}
.sign{
	float: right;
	
}
.or{
	float: right;
	padding-right: 16px;
	
}
.online{
	float: right;
	padding-right: 16px;
}
.on{
	float: right;
	padding-right: 16px;
	
}
.imgg{
	width: 80%;
	height: 80%;
	margin-left: 24px;
}
.learn{
	padding-top: 50px;

}
.start{
	width: 100px;

}
.info{
	width: 80%;
	height: 90%;
	margin-left: 24px;
	padding-left: 14px;
}
.run{
	width: 72%;
	height: auto%;
}
.third{
	margin-top: 32px;
}
.it{
	margin-left: 24px;
	padding-top: 32px;

}
.camp{
	margin-left: 14px;
	padding-top: 38px;
	width:70%;
	height: auto%;
}
.campus{
	padding-top: 40px;
}
.date{
	padding-top: 24px;
}
.vit{
	margin-left: 24px;
	padding-top: 24px;
}
.guest{
	margin-left: 14px;
	padding-top: 20px;
	width:76%;
	height: auto%;
	padding-left: 15px;
	padding-bottom: 20px;

}
.start{
	margin-left: 24px;
	margin-top: 32px;
}
.software{
	margin-top: 32px;
	width: 83%;
	height: auto;
	margin-left: 72px;
}
.lecture{
	padding-top: 30px;

}
.four{
	padding-top: 29px;
	margin-top: 10px;

}
.soft{
	margin-left: 72px;
	padding-top: 16px;
	background-color: white;
	padding-left: 16px;

}
.soft1{
	padding-top: 10px
}
.course{
	padding-top:8px ;

}
.web{
	padding-top:8px ;

}
.art{
	width: 83%;
	height: auto;
	margin-top: 32px;
	margin-left: 32px;

}
.arts{

	padding-top: 16px;
	margin-left: 32px;
	margin-right: 38px;
	padding-left: 16px;
	background-color: white;	
}

.courses{
	padding-top: 8px;
}
.design{
	margin-top: 32px;
	width: 83%;
	height: auto;
	margin-right: 72px;
}

.design1{
	padding-top: 16px;
	margin-right: 72px;
	padding-left: 16px;
	background-color: white;


}
.course1{
	padding-top: 8px;
}
.data{
	margin-top: 32px;
	width: 83%;
	height: auto;
	margin-left: 72px;
}
.data1{
	margin-left: 72px;
	padding-top: 16px;
	background-color: white;
	padding-left: 16px;
}
.course2{
	padding-top: 8px;
}
.business{
	width: 83%;
	height: auto;
	margin-top: 32px;
	margin-left: 32px;

}
.chess{
	padding-top: 16px;
	margin-left: 32px;
	margin-right: 38px;
	padding-left: 16px;
	background-color: white;
}
.course3{
	padding-top: 8px;
}
.marketing{
	margin-top: 32px;
	width: 83%;
	height: auto;
	margin-right: 72px;
}
.market{
	padding-top: 16px;
	margin-right: 72px;
	padding-left: 16px;
	background-color: white;
}
.course4{
	padding-top: 8px;
}

}
.thesis{
	margin-top: 64px;
	text-align: center;
}
.video{
	margin-left: 24px;
	width: 97%;
	height: auto;
	margin-top: 32px;
}
.orn{
	margin-top: 20px;
}
.fish{
	margin-top: 32px;
}
.then{
	width:215px;
	height:160px;
	padding-top: 16px;
	padding-left: 16px;
}
.portion{
	margin-top: 45px;
}
.new{
	padding-left: 46px;
	margin-top: 44px;
}
.urban{
	margin-top: 24px;
	margin-left: 12px;
}
.cura{
	margin-left: 12px;
}
.colm{
	margin-left: 24px;
	margin-top: 50px;
	padding-bottom: 30px;
}
.colmn{
	margin-top: 50px;
	padding-bottom: 30px;
}
.privacy{
	float: right;
}
.terms{
	float: right;
	padding-right: 12px;
}
